<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetUrl</servlet-name>
    <servlet-class>com.information.GetUrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.register.Register</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.loginer.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SetAt</servlet-name>
    <servlet-class>com.register.SetAt</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetAttention</servlet-name>
    <servlet-class>getAttention.GetAttention</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddAttention</servlet-name>
    <servlet-class>com.register.AddAttention</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CannelAttention</servlet-name>
    <servlet-class>com.register.CannelAttention</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>GetUrl</servlet-name>
    <url-pattern>/servlet/GetUrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetAt</servlet-name>
    <url-pattern>/servlet/SetAt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAttention</servlet-name>
    <url-pattern>/servlet/GetAttention</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAttention</servlet-name>
    <url-pattern>/servlet/AddAttention</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CannelAttention</servlet-name>
    <url-pattern>/servlet/CannelAttention</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
